############################################################
# Visual Studio
############################################################

**/.vs
**/.vscode

############################################################
# Git
############################################################

**/.git
**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**

############################################################
# Environment
############################################################

**/.env

############################################################
# Build
############################################################

**/bin
**/obj

############################################################
# Node
############################################################

**/node_modules
**/npm-debug.log

############################################################
# IDE
############################################################

**/.classpath
**/.project
**/.settings
**/.toolstarget

############################################################
# User Files
############################################################

**/*.*proj.user
**/*.dbmdl
**/*.jfm

############################################################
# Docker
############################################################

docker-compose.override.yml

############################################################
# Azure
############################################################

**/azds.yaml
**/charts
**/secrets.dev.yaml
**/values.dev.yaml

############################################################
# Documentation
############################################################

LICENSE
README.md

############################################################
# OS
############################################################

**/Thumbs.db
**/Desktop.ini

############################################################
# Python
############################################################

**/__pycache__
**/*.pyc